{% extends 'base.html' %}
{% block title %} Blog Archive {% endblock %}
{% block content %}
    <h1> My Blog Archive </h1>
        {% with object_list as post_list %}
        {% for post in post_list %}
            <div class="post">
                <h2>
                </h2>
                <p><a href="/post/{{ post.alias }}">{{post.title}}</a></p>

                <p>
                    Posted on
                    <time datetime="{{post.created_at|date:"c"}}">
                        {{post.created_at|date}}
                    </time>
                </p>
                
            </div>
            <!--<pre class="prettyprint linenums"></pre>-->
        {% endfor %}
        {% endwith %}
        {% for category in categoties %}
            {{ category.name }}
        {% endfor %}
{% endblock %}
